# Exclude IntelliJ build folders
out/
target/
src/META-INF/

# Exclude absolutely all executables
*.jar
*.exe

# Exclude your local stash from testing
vault.enc

# Exclude IDE-specific configurations
.idea/
*.iml